body.main-game {
    background-color: black;
}

.slide {
    position: relative;
    width: calc(1680px * 2);
    height: 100vh;
    float: left;
}

.outer-wrapper {
    height: 100vh;
    width: calc(1680px * 4);
    overflow: hidden;
}

.wrapper {
    position: relative;

    height: inherit;
}

.adventurer-container.main-game {
    position: fixed !important;
    left: 50%;
    transform: translateX(-50%);
}

.slide.one {
    background: #82b6ff;
    z-index: 3;
    overflow-x: hidden;
}

.two {
    background: #82b6ff;
    z-index: 2;
}

.ui-widget-content {
    background: transparent;
}

.header-bg {
    position: fixed;
    background-image: url("img/Sky.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.header-bg2 {
    position: absolute;
    background-image: url(img/clouds.png);
    background-repeat: repeat-x;
    height: 100vh;
    width: 100%;
}

.header-bg3 {
    position: absolute;
    background-image: url(img/Mountain.png);
    background-repeat: repeat-x;
    height: 100vh;
    width: 100%;
    background-position: bottom;
}

.header-bg4 {
    position: absolute;
    background-image: url(img/Far_woods.png);
    background-repeat: repeat-x;
    height: 100vh;
    width: 200%;
    background-position: bottom;
}

.boom {
    position: absolute;
    background-image: url(img/boom.png);
    background-repeat: no-repeat;
    height: 562px;
    width: 565px;
    bottom: 100px;
    left: 25%;
}

.mushroom {
    position: absolute;
    background-image: url(img/mushroom.png);
    background-repeat: no-repeat;
    height: calc(182px / 3);
    width: calc(182px / 3);
    background-size: contain;
    bottom: 100px;
    left: 50%;
}

.header-bg5 {
    position: absolute;
    background-image: url(img/Tiles.png);
    background-repeat: repeat-x;
    height: 220px;
    bottom: 0;
    width: 200%;
}

.header2-bg2 {
    position: absolute;
    width: 200%;
    height: 100vh;
    background-image: url(img/Layer_0009_2.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.header2-bg3 {
    position: absolute;
    width: 200%;
    height: 100vh;
    background-image: url(img/Layer_0008_3.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.header2-bg4 {
    position: absolute;
    width: 200%;
    height: 100vh;
    background-image: url(img/Layer_0006_4.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.header2-bg5 {
    position: absolute;
    width: 200%;
    height: 100vh;
    background-image: url(img/Layer_0005_5.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.header2-bg6 {
    position: absolute;
    width: 200%;
    height: 100vh;
    background-image: url(img/Layer_0003_6.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.transition-fence {
    position: absolute;
    width: 277px;
    height: 100vh;
    top: 0;
    background-image: url(img/Layer_0002_7.png);
    left: calc(1680px * 2);
    transform: translateX(-50%);
    z-index: 999999;
}

.header2-bg8 {
    position: absolute;
    background-image: url(img/Layer_0001_8.png);
    background-repeat: repeat-x;
    height: 190px;
    bottom: 0;
    width: 300%;
    background-position: bottom;
    background-size: contain;
}

.header2-bg9 {
    position: absolute;
    background-image: url(img/Layer_0000_9.png);
    background-repeat: repeat-x;
    height: 200px;
    width: 300%;
    background-position: bottom;
    background-size: contain;
    bottom: -50px;
    z-index: 9999999;
}


.sun {
    position: absolute;
    background-image: url(img/Layer_0007_Lights.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
}

.sword {
    position: absolute;
    background-image: url(img/sword.png);
    background-repeat: no-repeat;
    height: 100px;
    background-size: contain;
    width: 100px;
    transform: rotate(45deg);
    bottom: 100px;
    z-index: 99999999;
    left: 115%;
}


.slide.two .enemy {
    bottom: 90px;
    position: absolute;
    left: 210%;
}